{% extends "luomedicine/layoutabout.html" %}
{% block body %}
{% load static %}
<div class="mx-auto p-5">
<h2 class="p-5 text-center text-info fs-2 fw-bold">Luo Tribe of Kenya</h2>
</div>
<div class="container d-flex justify-content-center bg-secondary">
 <div class="text-center">
  <img src="{% static 'assets/img/luotribe.png' %}" class="img-fluid rounded mx-auto d-block">
 </div>
</div>
<div style="text-align: justify;">
<P>The Luo people emerged from the Semitic-speaking, Nilo-Saharan-speaking, Cushitic-speaking people. The Luo were originally a light-skinned community with the culture of Egypt (Tekidi), Kush and Meroe.</p>

<p>They migrated to Kar Thum (Khartoum) to Wau in the Bar-el Ghazal region in South Sudan. It was here that they met a dark-skinned people who referred to them as Jur Chol (the aliens passing through the blacks).

Between 990-1125, the Luos were in Sudan and then a series of calamities, including a serious outbreak of anthrax (‘opere’) and population explosion whipped out the entire livestock that were owned by the tribe of the Anu which was darker, and preferred both livestock and crop production.</p>

<p>Following this incident, the community resorted to fishing along the Aora Nalo (the River Nile) for survival and this is how the Luo earned the name Jo-Oluo-Aora (people who follow the river) which, in the course of time came to be shortened to Luwo or Luo.

South Sudan is hence the first place that the Jo-Luo were first referred as such, the subsequent birthplace of the Luo nation. This explains why most tales of the origin of the Luo nation start from South Sudan at Dog nam (the Acholi equivalent of dhowath/ dho nam which is the Dholuo for the mouth of the lake – that is, a lake shore). </p>

<p> Following this incident, the community resorted to fishing along the Aora Nalo (the River Nile) for survival and this is how the Luo earned the name Jo-Oluo-Aora (people who follow the river) which, in the course of time came to be shortened to Luwo or Luo.

South Sudan is hence the first place that the Jo-Luo were first referred as such, the subsequent birthplace of the Luo nation. This explains why most tales of the origin of the Luo nation start from South Sudan at Dog nam (the Acholi equivalent of dhowath/ dho nam which is the Dholuo for the mouth of the lake – that is, a lake shore).</p>

<p> Oral traditions reveal that the Southern Luo (the Luo of Kenya and Tanzania) descended from early fishing, agricultural and herding communities from western Kenya’s early pre-colonial history and dialects of their language have historic roots across the inter-lacustrine region.

Besides their language has incorporated Bantu words making it different from the Ugandan Luo dialects, Dholuo is the mother tongue of the Luo community.

There is only one major Luo dialect in Kenya, with minor variations of the Luo language especially between the Alego / Ugenya / Gem locality, known as Trans Yala dialect by socio-linguist, and the standard Dholuo dialect which is largely spoken by the rest of the Luo people in Kenya and the neighboring Tanzania. The Luo ethnic group in Kenya has maintained its culture, language and sustained the political unity and prevented further separation, thus, becoming a politico-cultural bloc in Kenya. The early intrusion of the Luo in Nyanza basin was not, strictly-speaking, a conquest.</p>
</div>

{% endblock %}
