{% extends "luomedicine/layout.html" %}

{% block body %}
{% load static %}
<div
  style="
    margin-top: 120px;
    color: red;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    font-family: Times New Roman, Times, serif;
  "
>
  <h1>Medicinal Plant Details</h1>

<!-- The code `<div class="container mt-10">...</div>` is creating a container element with a class of
"container" and a margin-top of 10 pixels. Inside the container, there is a row element with a class
of "row". Inside the row, there is a column element with a class of "col-md-12" which means it will
take up the full width of the container on medium-sized screens. The column is using flexbox to
center its contents horizontally with the class "d-flex justify-content-center". Inside the column,
there is another div element that contains an h2 heading with classes "text-center fw-bold". The
content of the h2 heading is a template variable `{{ error_message }}`, which will be replaced with
the actual error message when the template is rendered. -->
<div class="container mt-10">
    <div class="row" >
      <div class="col-md-12 d-flex justify-content-center">
        <div>
          <h2 class="text-center fw-bold ">{{ error_message }}</h2>
        </div>
      </div>
    </div>
  </div>

{% endblock %}