{% extends "luomedicine/layout.html" %}
{% block body %}
{% load static %}
<div style="margin-top: 120px; color: red; font-size: 44px; font-weight: bold; text-align: center; font-family: 'Times New Roman', Times, serif;">
  <h1>Luo Traditional Medicine</h1>
</div>
<div class="container mt-10">
  <div class="row p-10" style="background-color: #4a5562;">
    {% for medicinal_plant in medicinal_plants %}
    <div class="col-md-4 mb-2 mt-5">
      <div class="d-flex justify-content-center">
        <div class="rounded-circle border border-success border-3 p-0" style="max-width: 200px;">
          <a href="{% url 'plant' medicinal_plant.id %}" target="_blank" class="link-opacity-50-hover"><img src="{{ medicinal_plant.image.url }}" alt="{{ medicinal_plant.title }}" class="img-fluid rounded-circle" style="width: 100%; height: auto;"></a>
         </div>
      </div>
       <h3 class="text-white text-center"><a href="{% url 'plant' medicinal_plant.id %}" target="_blank" class="text-info font-weight-bold link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ medicinal_plant.title }}</a></h3>
      <p class="text-white text-center"><b>Part Used:</b> {{ medicinal_plant.part }}</p>
      <p class="text-white text-center"><b>Treatment:</b> {{ medicinal_plant.treatment }}</p>
      <p class="text-white text-center"><b>Prescription:</b> {{ medicinal_plant.prescription }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}