{% extends "luomedicine/layout.html" %} {% block body %} {% load static %}
<div
  style="
    margin-top: 120px;
    color: red;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
  "
>
  <h1>Luo Traditional Medicinal Plant List</h1>
</div>

<div class="container mt-10">
  <div class="row" style="background-color: #4a5562">
    {% for medicinal_plant in medicinal_plants %}
    <div class="col-md-4 mb-4">
      <div class="d-flex justify-content-center">
        <img
          src="{{ medicinal_plant.image.url }}"
          alt="{{ medicinal_plant.title }}"
          class="img-fluid rounded-circle"
          style="max-width: 200px; height: auto"
        />
      </div>
      <h3 class="text-white text-center">{{ medicinal_plant.title }}</h3>
      <p class="text-white text-center"><b>Treatment:</b> {{ medicinal_plant.treatment }}</p>
      <p class="text-white text-center"><b>Prescription:</b> {{ medicinal_plant.prescription }}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
