{% extends "luomedicine/layout.html" %} {% block body %} {% load static %}
<div style="
    margin-top: 120px;
    color: red;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    font-family: Times New Roman, Times, serif;">
  <h1>Medicinal Plant Details</h1>
</div>
<div class="container mt-10">
  <div class="row" >
    <div class="col-md-12 d-flex justify-content-center">
      <div>
        <h2 class="text-center fw-bold text-decoration-underline">{{ medicinal_plant.title }}</h2>
        <img src="{{ medicinal_plant.image.url }}" alt="{{ medicinal_plant.title }}" class="img-fluid rounded mx-auto d-block">
        <p class="text-center fs-3 fw-bold">Part: {{ medicinal_plant.part }}</p>
        <p class="text-center fs-3 fw-bold">Treatment: {{ medicinal_plant.treatment }}</p>
        <p class="text-center fs-3 fw-bold">Prescription: {{ medicinal_plant.prescription }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}