{% extends "luomedicine/layout.html" %} {% block body %} {% load static %}
<div
  style="
    margin-top: 120px;
    color: red;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  "
>
  <h1>Medicinal Plant Details</h1>
</div>
<div class="container mt-10">
  <div class="row" >
    <div class="col-md-12 d-flex justify-content-center">
      <div>
        <h2 class="text-center fw-bold text-decoration-underline">{{ medicinal_plants.title }}</h2>
        <img src="{{ medicinal_plants.image.url }}" alt="{{ medicinal_plants.title }}" class="img-fluid rounded mx-auto d-block">
        <p class="text-center fs-3 fw-bold">Part: {{ medicinal_plants.part }}</p>
        <p class="text-center fs-3 fw-bold">Treatment: {{ medicinal_plants.treatment }}</p>
        <p class="text-center fs-3 fw-bold">Prescription: {{ medicinal_plants.prescription }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}